body {
  background-size: cover;
  box-sizing: border-box;
  background-image: url("../images/my_images/ninjago-wallpapers2.jpg");
}

.header{
  height:15vh;
  margin:4px;
  text-align: center;
  padding:4px;

}
.outer_container{
  height:80vh;
  display:flex;
  margin: 4px;
}
.aside{
  height:100%;
  width:32%;
  text-align: center;
}
.stats_content{
  height:80%;
  display:flex;
  align-items:center;
  flex-direction: column;
  text-align: center;
}
.stat{
  height:20%;
  width:80%;
  border: 1px solid black;
  background-color:lightskyblue;
  padding: 4px;
  margin:6px;
  border-radius: 12px;

}
.main{
  height:100%;
  width:63%;
}
.container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height:100%;
  position: relative;
}
.card{
    height:25%;
    width:15%;
    background-color:transparent;
    position: relative;
}
.card_back{
  background-image: url("../images/my_images/lego_ninjago.jpeg");
  /* transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.card_back, .card_front {
  position: absolute;
}
 .card_back ,.card_front,.red_ninja,.golden_ninja,.blue_ninja,.green_ninja,.white_ninja,.black_ninja,
 .nya,.sensei_wu,.lord_garmadon
  {
  background-position: center;
  background-size: cover;
  height:100%;
  width:100%;
  border-radius: 10px;
  /* backface-visibility: hidden; */
}

.red_ninja {
  background-image: url("../images/my_images/red_ninja.jpeg");
}
.golden_ninja{
  background-image: url("../images/my_images/golden_ninja.jpeg");
}
.blue_ninja{
  background-image: url("../images/my_images/blue_ninja.jpeg");
}
.green_ninja{
  background-image: url("../images/my_images/green-ninja.jpeg");
}
.white_ninja{
  background-image: url("../images/my_images/white_ninja.jpeg");
}
.black_ninja{
  background-image: url("../images/my_images/black_ninja.jpeg");
}
.nya{
  background-image: url("../images/my_images/nya.jpeg");
}
.sensei_wu{
  background-image: url("../images/my_images/Sensei_Wu.jpeg");
}
.lord_garmadon{
  background-image: url("../images/my_images/LordGarmadon.jpeg");
}
.hidden{
  display:none;
}
.modal{
  height:50%;
  width:50%;
  background-color:brown;
  position:fixed;
  top:50%;
  left:50%;
  transform :translate(-50%,-50%);
  border-radius: 12px;
  text-align: center;
  font-size: 40px;
  border:4px solid blanchedalmond;
  overflow: auto;
}
.modal_close{
  height:50px;
  width:100px;
  border-radius: 12px;
  background-color: midnightblue;
  color : white;
  top:10%;
  right:20%;
  border : 2px solid blanchedalmond;
}
.no_events{
  pointer-events: none;
}
