body {
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-image: url("../images/my_images/ninjago-wallpapers2.jpg");
  font-family: 'Ubuntu Condensed', sans-serif;
}

.header{
  height:15vh;
  margin:4px;
  padding:2px;
  font-size:1.5rem;
  display :flex;
  justify-content:space-between;
  align-items:center;
}
.music{
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
}
button{
  border-radius: 8px;
}
.outer_container{
  height:85vh;
  display:flex;
  margin: 4px;
}
.aside{
  height:100%;
  width:32%;
  text-align: center;
}
.stats_content{
  height:80%;
  display:flex;
  align-items:center;
  flex-direction: column;
  text-align: center;
  font-size: 1.25rem;
}
.stat{
  height:20%;
  width:70%;
  border: 3px solid blanchedalmond;
  padding: 4px;
  margin:2px;
  border-radius: 12px;
  background-color:maroon;
  box-sizing: border-box;
}
.stat > p {
padding-bottom: 2px;
}
.main{
  height:100%;
  width:63%;
}
.container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height:100%;
  position: relative;
}
.card{
    height:25%;
    width:15%;
    background-color:transparent;
    position: relative;
}
.card_back{
  background-image: url("../images/my_images/lego_ninjago.jpeg");
}

.card_back, .card_front {
  position: absolute;
}
 .card_back ,.card_front,.red_ninja,.golden_ninja,.blue_ninja,.green_ninja,.white_ninja,.black_ninja,
 .nya,.sensei_wu,.lord_garmadon
  {
  background-position: center;
  background-size: cover;
  height:100%;
  width:100%;
  border-radius: 10px;
  background-repeat: no-repeat;
  /* backface-visibility: hidden; */
}

.red_ninja {
  background-image: url("../images/my_images/red_ninja.jpeg");
}
.golden_ninja{
  background-image: url("../images/my_images/golden_ninja.jpeg");
}
.blue_ninja{
  background-image: url("../images/my_images/blue_ninja.jpeg");
}
.green_ninja{
  background-image: url("../images/my_images/green-ninja.jpeg");
}
.white_ninja{
  background-image: url("../images/my_images/white_ninja.jpeg");
}
.black_ninja{
  background-image: url("../images/my_images/black_ninja.jpeg");
}
.nya{
  background-image: url("../images/my_images/nya.jpeg");
}
.sensei_wu{
  background-image: url("../images/my_images/Sensei_Wu.jpeg");
}
.lord_garmadon{
  background-image: url("../images/my_images/LordGarmadon.jpeg");
}
.hidden{
  visibility: hidden;
}
.modal{
  height:50%;
  width:50%;
  background-color:rgb(24, 66, 24);
  position:fixed;
  top:50%;
  left:50%;
  transform :translate(-50%,-50%);
  border-radius: 12px;
  text-align: center;
  font-size: 2rem;
  border:4px solid blanchedalmond;
  overflow: auto;
  display:flex;
  flex-direction: column;
  color: blanchedalmond;
  justify-content: center;
  align-items: center;
}
.modal_text{
  margin: 20px;
}
.modal_close{
  height:50px;
  width:200px;
  border-radius: 12px;
  background-color: rgb(3, 3, 37);
  color : blanchedalmond;
  border : 2px solid blanchedalmond;
  font-size: 20px;
  font-family: 'Ubuntu Condensed', sans-serif;
}
.no_events{
  pointer-events: none;
}

.welcome-modal{
  height:50%;
  width:50%;
  background-color:rgb(24, 66, 24);
  position:fixed;
  top:50%;
  left:50%;
  transform :translate(-50%,-50%);
  border-radius: 12px;
  text-align: center;
  border:4px solid blanchedalmond;
  overflow: auto;
  display:flex;
  flex-direction: column;
  color: blanchedalmond;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
.modal-title{
  font-size: 2rem;
}
.start-game{
  height:50px;
  width:200px;
  border-radius: 12px;
  background-color: rgb(3, 3, 37);
  color : blanchedalmond;
  border : 2px solid blanchedalmond;
  font-size: 20px;
  font-family: 'Ubuntu Condensed', sans-serif;
}

@media only screen and (max-width: 812px){
  .header{
    height:5vh;
    font-size:3vmin;
    margin:0;
    padding:2px;
  }
  .outer_container{
    height:95vh;
  }
  .aside{
    margin:3%;
  }
  .stat{
  height:17%;
  width:80%;
}
  .stats_content{
  font-size: 1rem;
}
.stat > p {
font-size:5vmin;
margin-top:5%;
}
.welcome-modal{
  height: 80vh;
  width:80vw;
  font-size: 1rem;
}
}

@media only screen and (max-width: 375px) {
  /* For mobile phones: */
  .header{
    height:10vh;
    font-size:4vmin;
  }
  .outer_container{
    height:90vh;
  }
  .aside{
  height:100%;
  width:32%;
  text-align: center;
  margin:3%;
}
  .card{
    height:15%;
    width:32%;
    background-color:transparent;
    position: relative;
}
.stat{
  height:15%;
  width:80%;
  border: 3px solid blanchedalmond;
  padding: 4px;
  margin:6%;
  border-radius: 12px;
  background-color:maroon;
  box-sizing: border-box;
}
.stats_content{
  font-size: 1.15rem;
}
.stat > p {
font-size:5vmin;
margin-top:5%;
}
.welcome-modal{
  height: 80vh;
  width:80vw;
  font-size: 1rem;
}
.modal-title{
  font-size: 1.5rem;
}
.modal-body{
  padding-right:15px;
}
.modal{
  width:80%;
}
}
